


   * {
    font-family: 'Lora', serif;
   }
    
    p{
     
        font-family: 'Lora', serif;
    }
    
    h1,h2,h3,h4,h5,h6, a{
        font-family: 'Coustard', serif;
    }
    
    li{
        list-style: none;
    }
    
    .open{
        height: 200px!important;
    }

    .disabled a{
        color: gray;
    }

    .post img{
        display: inline !important;
    }